<h3>Comments</h3>
<% if article_comments(article).any? %>
  <% article_comments(article).each do |e| %>
    <div class="comment">
      <div class="header">
        <span class="author"><%= e.name %></span>
        <span class="stamp"><%= e.created_at.eztime(':nmonth :day:ordinal, :year &mdash; :hour12::minute :lmeridian') %></span>
      </div>
      <div class="body">
        <%=h e.body %>
      </div>
    </div>  
  <% end %>
<% else %>  
  There are currently no comments for this article.
<% end %>  