<html>
<head>
  <link rel="stylesheet" href="<%= theme_path %>/stylesheets/core.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  <title><%= ['scharfie.com', title].reject(&:blank?).join(' | ') %></title>
  <%= support_files %>
</head>
<body>
<%= support_toolbar %>
<div id="container">
  <div id="header">
    <h1><a href="/">scharfie<span>.com</span></a></h1>
  </div>